.router-link{
    text-decoration:none;
    color:black;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter.ttf') format('truetype');
  }
  
   body {
    font-family: 'inter', sans-serif;
  } 